# Subsetting Pandas DataFrames I

You now know how to read external datasets into `pandas`. Let's put those skills to use and read in the `tips` dataset again:

In [ ]:
# import the pandas package
import pandas as pd
# set the path
path = 'https://raw.githubusercontent.com/GWC-DCMB/ClubCurriculum/master/'
# load tips
tips = pd.read_csv(path + 'SampleData/tips.csv')

Take a look again at the beginning of the `tips` `DataFrame`:

In [ ]:
# view the beginning of tips

What if we decided we didn't want to keep all of the data recorded in this dataset? To do that, we need to learn how to `subset` `DataFrames`. Subsetting means taking a dataset and pulling out a small portion of it that we're interested in. 

First, we'll look at a single column (you can use `head` to keep the printed result short):

In [ ]:
# subset one column

We use the square brackets [ ] after the name of the `DataFrame` to tell `pandas` that we want to look at one of the columns. We put the name of the column in quotes to tell `pandas` exactly which column we want to look at. Try subsetting the `total_bill` column:

In [ ]:
# subset the total_bill column

`pandas` simply showed us the result of subsetting the column, but it didn't save the result anywhere. Try saving the `total_bill` column to a new variable, `bills`:

In [ ]:
# save the total_bill column to a variable

We can also pull out multiple columns at a time to create a new `DataFrame`. If we were only interested in the `total_bill` and `tip`, we can subset them like this:

In [ ]:
# subset the columns total_bill and tip

Does that look familiar? Instead of putting a single string between the square brackets, we put a whole list of strings -- you can tell it's a list by the second set of square brackets. You can also create the list of columns you're interested in and subset the dataframe in two separate steps. This code works exactly the same as what we just did above.

In [ ]:
columns = ['total_bill', 'tip']
tips[columns].head(10)

Now you try: subset the columns `total_bill`, `tip`, and `time` and save the result to a variable called `tips_subset`:

In [ ]:
# subset three columns and save to a new variable

# take a look at the beginning of the new DataFrame

Now we've learned how to subset columns. How do we subset rows? We use a `method` of `DataFrame` called `iloc`. When you see `iloc`, think "index location" -- because we want to get the location where the row is a certain index. Let's try it:

In [ ]:
# subset a row

That showed us the row with an index of 1. Similarly to subsetting columns, we can also subset multiple rows:

In [ ]:
# subset multiple rows

That gave us a smaller `DataFrame` where the rows have an index of 0, 1, or 2. We can do the same thing with slicing syntax:

In [ ]:
# subset multiple rows

Notice that this does the same thing as calling `head` with a value of 3:

In [ ]:
# use head

What if we want to grab some rows in the middle of the `DataFrame`? Try subsetting rows 100 through 105:

In [ ]:
# subset rows 100 through 105

Congrats on making it to the end of this lesson -- we learned a lot!

- How to use square brackets `[]` to subset columns.
- How to use `iloc` to subset rows.