# Practice with 2D list indexing!
**Remember:**
* Lists can be used to group different values together - it's just a collection of things.
* You can make a list in Python by putting different things in a box of brackets `[]` separated by commas.
* 2D lists are lists of lists
* You can double-index 2D lists to get an element from the sub-list

Let's use our list of  animals:

In [ ]:
# command Python to make a list of animals
animals = [['cat','dog','elephant'],
           ['fish','seahorse','whale'],
           ['robin', 'cardinal', 'bat']]

# command Python to print animals

Get the aquatic animals from your list:

In [ ]:
# command Python to get aquatic animals from your list

What if you want to get seahorse from `animals`?

In [ ]:
# command Python to get seahorse from animals

How about getting elephant from the `animals` list?

In [ ]:
# command Python to get elephant from animals

Now create a list of your favorite land, aquatic, and air animals by subsetting the `animals` list. Call this list `favorites` and print it out to see if you indexed corretcly:

In [ ]:
# command Python to make a list called favorites with your favorite of each animal

# command Python to print favorites

**Challenge:** Using your 2D list of numbers from 1 to 20 get the even numbers from the list:

In [ ]:
# make 2D list of numbers

# get the even numbers from numbers

Now get your age from the list of numbers:

In [ ]:
# get your age from numbers and save it to age

# print age to see if you did it correctly

Add 5 to your age and save it to `age_plus_5`. What do you think you'll be doing in 5 years?

In [ ]:
# add 5 to your age

# print age_plus_5

Now add 5 to age_plus_5 and save it to the variable `age_plus_10`. What do you think you'll be doing in 10 years?

In [ ]:
# add 5 to age_plus_10

# print age_plus_10

Nice job! You just practiced:
* Indexing a 2D list (a list of lists)
* Making a new list from a subset of a 2D list
* Saving things to variables
* Adding variables and numbers