# Practice with loops

In today's lesson, we learned about a few ways to change the way our for loops work. As a reminder:

- We can use `if/elif/else` statements in loops to specify what code runs for certain items in the list
- We can use `continue` to skip to the next item 
- We can use `break` to stop iterating through items in our list

Today, we will be working with a 2D list called `college_info`, which has information about different colleges in the country. Each list in the 2D list has the name, city, and state of a certain college

In [ ]:
# college info:
college_info = [["University of Michigan", "Ann Arbor", "Michigan"], 
                ["New York University", "New York", "New York"], 
                ["Grand Valley State University", "Allendale", "Michigan"],
                ["Western Michigan University","Kalamazoo", "Michigan"],
                ["University of Alaska", "Fairbanks", "Alaska"],
                ["University of Washington", "Seattle", "Washington"],
                ["Stanford University", "Palo Alto", "California"]]

First, let's get familiar with our dataset. Write a for loop that iterates through the list of colleges and prints out all the info for each college

In [ ]:
# iterate through the list of colleges and print out the info for each college

Next, let's print out just the names of each college. Remember, each item in our for loop is a list, and the name of the college is the first item in the list.

In [ ]:
# iterate through the list of colleges and print out each college's name

We can see that some of the schools in our list are in Michigan, and some are not. Let's write a loop that prints "X is an in-state school" if a college is in the state of Michigan, and "X is not an in-state school" if a college is not in the state of Michigan.

In [ ]:
# use if/else to do something different for schools in michigan vs. not in michigan

Remember that we can use `continue` to skip over certain items in our list. Write a for loop that uses `continue` to only print info about schools that are in Michigan.

Note: this can also be done without using `continue`!

In [ ]:
# use continue to only print in-state schools

The keyword `break` can be used to stop iterating through our list once a certain condition is met. Use `break` to only print out information about schools that are before University of Alaska in the list.

In [ ]:
# use break to print info only about schools that are before University of Alaska in the list