# Practice: Subsetting Pandas DataFrames I

For this practice, let's use the `iris` dataset:

In [ ]:
# import the pandas package
import pandas as pd
# set the path
path = 'https://raw.githubusercontent.com/GWC-DCMB/ClubCurriculum/master/'
# this is where the file is located
filename = path + 'SampleData/iris.csv'
# load the iris dataset into a DataFrame
iris = pd.read_csv(filename)

Get familiar with the dataset:

In [ ]:
# take a look at the beginning

Try subsetting on columns:

In [ ]:
# subset the species column

In [ ]:
# subset the sepal_length and sepal_width columns

In [ ]:
# here's a list of columns we want to keep
columns = ['species', 'petal_width']
# now subset the iris dataframe using the list

Try subsetting on rows:

In [ ]:
# select the first 10 rows

In [ ]:
# think of another way to select the first 10 rows

In [ ]:
# select rows 15 through 20

In [ ]:
# select row 30

**Bonus:**
Do you think it's possible to subset with both rows AND columns at the same time? Why or why not?

Feel free to experiment in the space below: