# Practice: Subsetting Pandas DataFrames II

For this practice, let's use the `iris` dataset:

In [ ]:
# import the pandas package
import pandas as pd
# set the path
path = 'https://raw.githubusercontent.com/GWC-DCMB/ClubCurriculum/master/'
# this is where the file is located
filename = path + 'SampleData/iris.csv'
# load the iris dataset into a DataFrame
iris = pd.read_csv(filename)

Take a look at the dataset:

In [ ]:
# take a look at the beginning

In [ ]:
# subset the first 5 rows from iris
# save it to a variable called subset1

In [ ]:
# subset a few columns from the subset1 dataframe
# save it to a variable called subset 2

Let's try subsetting both rows and columns at the same time!

In [ ]:
# create a new subset from iris that's identical to subset2
# but write only one line of code
# save it to a variable called subset3

In [ ]:
# check your work -- how does subset2 compare to subset3?

In [ ]:
# subset rows 20 through 30 and columns petal_length & petal width
# write only one line of code

Now let's subset using `query`:

In [ ]:
# subset rows where the species is not setosa

In [ ]:
# subset rows where sepal_width is greater than 4

In [ ]:
# subset rows where sepal_width is between 2 and 3

In [ ]:
# subset rows where sepal_width is less than 3.5 and the species is virginica

In [ ]:
# subset rows where the pedal width is 0.3 or the species is versicolor

**Bonus**: Try to subset with both `query` and square brackets `[]` on the same line:

In [ ]:
# pick any query and any columns to subset with